	body {
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		margin: 0;
	}

	h1 {
		font-family: raleway;
		letter-spacing: 1px;
		font-weight: 400;
		font-size: 45px;
		margin: 0;
	}

	main {
		width: 850px;
		margin: 35px auto 35px auto;
	}

	header{
		background-color: #F15B31;
		color: #FFFFFF;
		padding: 30px 20px 30px 20px;
	} 

	.game a {
		font-family: raleway; 
		letter-spacing: 1px;
		font-weight: 600;
		font-size: 18px;
		border-bottom: 2px solid transparent;
		margin: 0px 20px 0px 20px;
		color: white;
		text-decoration: none;
	}

	.instructions a {
		font-family: raleway;
		color:#0D2C40; 
		letter-spacing: 1px;
		font-weight: 600;
		font-size: 20px;
		border-bottom: 2px solid transparent;
		margin: 0px 20px 0px 20px;
		text-decoration: none;
	}

	p {
		font-family: droid serif; 
		line-height: 26px;
		font-size: 18px;
		text-transform: none;
	}

	img {
		margin: 40px 8px 0px 8px;
	}

	nav {
		background-color: #00A6B3;
		color: #FFFFFF;
		padding: 1px 0px 1px 0px;
	}

	footer {
		text-transform: uppercase;
		padding: 0px 20px 0px 20px;
		background-color:#0D2C40;
		font-family: raleway; 
		color:white;
		font-size: 14px;
		letter-spacing: 0.08em;
		font-weight: 500;
	}

	.copyright {
		font-family: raleway;
		float: left;
	}

	.message {
		font-family: raleway;
		float:right;
	}

	.clearfix:after {
		visibility: hidden;
		display: block;
		content: " ";
		clear: both;
		height: 0;
		font-size: 0;
	}

	.name {
		color:#F15B31;
		font-weight: 700;
	}

	a:hover {
		border-color: white;
}